{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <div class="uk-container uk-container-large">
    <h1>Ирина Владимировна Козлова-Кузнецова</h1>
    <p>Действующий художник - живописец, преподаватель рисования Ирина Владимировна Козлова-Кузнецова 
    Активный участник множественных  областных, городский и региональных выставок , опыт преподавания 14 лет.</p>
    
    <p> Родилась в 1974г. в России, г. Северодвинске Архангельской области.

        Переехала в Воронеж в 2003 году.

        В 1992 году закончила педагогический колледж в г. Северодвинске

        По специальности учитель рисования и начальных классов.

        В 2012 закончила Воронежское художественное училище по специальности живопись, художник-живописец , педагог Лавров Александр Николаевич.

        Далее обучалась частным образом в мастерских у заслуженных художников России и членов союза художников Лаврова Александра Николаевича, Щеглова Евгения Дмитриевича и других.
        Работы находятся в частных коллекциях и за рубежом. Работаю маслом. В стиле реализм, импрессионизм.

        Сейчас работаю в мастерской. Все работы выполняю в основном с натуры.  

        Действующий художник - живописец, преподаватель рисования.

        Активный участник множественных  областных, городский выставо, и риональных:

        Участие в выставках, фестивалях, конкурсах:

        Четвертый Всероссийский пленэр в Бузулукском бору имени Филиппа Малявина в 2018г., Региональный выставка-конкурс 3-го Белгородского открытого фестиваля имени С. С. Косенкова 2018г.,

        Региональный выставка-конкурс 4-го Белгородского открытого фестиваля имени С. С. Косенкова 2019г.,

        Региональная выставка-конкурс , фестиваль г. Белгород   «Прохоровское поле» 2020г.,

        Персональная выставка , более 20 работ, выставочный зал «Родина» г. Белгород 2021 г.

        Персональная выставка , более 65 работ, выставочный зал «Звездный» г. Курск 2021 г.
    </p>

    <h2>Что вдохновляет?</h2>
    <p>
    Природа, вся красота которая окружает, небо, солнце, воздух, вода, цветы, Когда пишу, впитываю и пропускаю через себя эту красоту и передаю эту любовь к окружающему на картину.

    Пресс релиз Ирина Козлова-Кузнецова

    На выставке впервые в Курске будет представлено более 65 живописных произведений художницы Ирина Козловой-Кузнецовой В экспозицию войдут как ранние, так и созданные в последние годы работы.

    Ключевая тема картин экспонируемых художниками– изображение жизни, как она есть через свободное импрессионистическое-реалистичное видение различных состояний природы, натюрмортов и портретов.
    Российские деревни, улочки родного города , контраст утра и ночи, знойного дня и дождливого вечера, будней и выходных, достопримечательностей и заброшенных мест города дают возможность расширить горизонты восприятия и показать, как энергетика города и деревни, леса  заряжает добром и любовью.
    Авторы убеждены, что живопись природы способна воодушевить зрителя, обратить его внимание на красоту окружающего мира и вдохновить на творческие свершения.

    Творчество художников посвящено России – неповторимому очарованию старых российских городов, деревень. притягательной красоте мира русской природы.
    Здесь и пейзажи, и натюрморты, и всеми любимые цветы. Творчество раскрывает зрителю красоту окружающего мира.

    Изучение натуры, поиск художественной выразительности, стремление к развитию отличают их  творчество.

    Художницы работает преимущественно в жанре пейзажа, натюрморта и портрета, опираясь на реалистические и импрессионистические  традиции в искусстве. Героями картин часто становятся простые люди, родственники с разными судьбами, характерами и увлечениями. В портретах художницы правдиво передают не только особенности внешнего облика, но и улавливают индивидуальное своеобразие личности человека.

    Привлекают внимание тематические натюрморты, передающие плодородие и богатство пророды.

    Свежестью и простотой отличаются их красочные натюрморты с цветами, вазами, кувшинами разнообразные по характеристике и манере письма. Это согревающие своим цветом пионы, розы, сирень, маки и нежная полевые цветы, и причудливо изогнувшиеся цветы жасмина.

    Цвет и манера письма понятия неразделимые, он для художниц являлся воплощением чувств.

    в нём проявляется яркий темперамент личности этих художниц. 

    Живопись пронизана эстетикой импрессионизма, чувственна и эмоциональная.
    </p>
       
    </div>


{% endblock %}
