{% extends 'base.html.twig' %}

{% block title %}Сайт художницы Ирины Козловой Кузнецовой{% endblock %}

{% block body %}

<section id="gallery-section" class="uk-padding">
    <h1 class="uk-padding-top uk-text-center">
        {% trans %} Персональный сайт художницы Ирины Козловой Кузнецовой {% endtrans %}
    </h1>
    <p class="catch-phrase">
        {% trans %}Картины маслом на холсте{% endtrans %}
    </p>
</section>

{% endblock %}
