{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<section id="gallery-section" class="uk-padding">
    <h1 class="uk-padding-top uk-text-center">Bienvenue sur le site de l'artiste Irina Kozlova-Kuznetsova</h1>
    <p class="catch-phrase">Découvrez des peintures sur toile réalisées par l'artiste</p>
</section>

{% endblock %}
